@font-face{
    font-family: bauhaus93-sections;
    src: url('./fonts/BAUHS93.TTF') format('truetype');
}
@font-face{
    font-family: Roboto-Bold;
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face{
    font-family: Roboto-Medium;
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face{
    font-family: Roboto-Regular;
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
    font-family: Roboto-Italic;
    src: url('./fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face{
    font-family: Roboto-Ligth;
    src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
@font-face{
    font-family: Roboto-Thin;
    src: url('./fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face{
    font-family: righteous-regular;
    src: url('./fonts/Righteous-Regular.ttf') format('truetype');
}
/* etiquetas */
*{
    margin: 0;
    padding: 0;
}
body {
    /* para que Footer este siempre abajo */
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
header {
    width: 100%;
    /* background-color: rgba(34, 58, 94, 0.5); */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 1px 0 1px 0; */

    /* backdrop-filter: blur(5px); */
    /* backdrop-filter: brightness(60%); */
    /* backdrop-filter: contrast(50%); */
    /* backdrop-filter: invert(90%); */
    /* backdrop-filter: opacity(90%); */
    /* backdrop-filter: sepia(90%); */
    /* backdrop-filter: saturate(10%); */

    background: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  */
    z-index: 2;
}

header a{
    padding: 10px 20px 10px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    line-height: 30px;
    list-style: none;
}

header span{
    color: white;
    padding: 10px 2px 0 0;
}
.navbar {
    padding: 0 0 0 3px;
    margin-right: 3px;
    display: flex;
}
section{
    padding-top: 40px;
    padding-bottom: 20px;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}
footer{
    width: 100%;
    background-color: #223a5e;    
}


/* class */
.secintro {
    display: flex;
    background-color: #223a5e;
}

.title{
    font-family: Roboto-Medium;
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 20px;
    color: white;
}
.text1{
    font-family: bauhaus93-sections;
    font-size: 50px;
    color: #10aedb;
}
.text2{
    font-family: Roboto-Ligth;
    font-size: 21px;
    color: #6fa1ff;
}
.text3{
    font-family: bauhaus93-sections;
    font-size: 50px; 
}
.text4{
    font-family: Roboto-Italic;
    /* interlinieado */
    line-height: 45px;
    color: #888888;
    padding: 20px 0 0 40px;
}
.text5{
    font-family: Roboto-Regular;
    font-size: 15px;
}
.text6{
    font-family: Roboto-Regular;
    font-size: 25px;
    color: #6fa1ff;
}
.text7{
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #eb274b;
}
.text8{
    font-family: Roboto-Ligth;
    font-size: 16px;
    color: #6fa1ff;
}
p.text1{
    padding: 0 0 36px 40px;
}
p.text2{
    padding: 0 0 0 50px;
    line-height: 50px;
}
p.text3{
    padding: 0 0 36px 40px;
}



.logoleft{
    padding: 20px 40px 0 40px;
}
.logoleft img{
    border-radius: 0 50% / 0 100%;
    border: 5px solid #223a5e;
}
.logoright {
    margin: auto;
}





.know-container div{
    width: 400px;
    margin: 1px auto;
    background-color: #324a6d;
    padding: 20px;
    box-shadow: -5px 5px 10px 1px rgba(49, 54, 117, 0.973);
    /* align-items: baseline; */
}
.know-container p{
    /* border: solid 1px red; */
    display: flex;
    align-items: baseline;
}
.know-container span{
    /* border: solid 1px red; */
    font-size: 15px;
    padding-right: 5px;
}






.tech-container {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tech-child {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: -5px 5px 10px 1px rgba(49, 54, 117, 0.973);
    display: flexbox;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.tech-container img{
    width: 40px;
    height: 40px;
    padding: 15px;
}



.secservices, .knowledge {
    background-color: #223a5e;
}
.ser-container, .pro-container, .know-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ser-container-child {
    background-color: #324a6d;  
    padding: 5px 5px 5px 5px;
    margin: 15px 5px 15px 15px;
    width: 350px;
    height: 450px;
}
.ser-container p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.ser-container img{
    width: 100%;
}



.pro-container div{
    width: 410px;
    margin: 1px auto;
    background-color: #324a6d;
    padding: 20px;
    box-shadow: -5px 5px 10px 1px rgba(49, 54, 117, 0.973);
}
.pro-container p{
    padding: 20px;
}



.con-container{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #29abe2;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #e3fffd;
    box-shadow: -8px 15px 35px 1px rgba(49, 54, 117, 0.6);
}
.con-container a{
    margin: 0 auto;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #e3fffd;
    box-shadow: -5px 10px 35px 1px rgba(49, 54, 117, 0.5);
}




.footer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    border-top: solid #eb274b;
    padding: 20px 0 20px 0;
}
.footer div{
    margin: 0 auto;
}
.footer i{
    color: rgb(185, 27, 27);
}
.footer a{
    color: white;
}
.footer p{
    padding-bottom: 15px;
}



/* start page timeline */
.time {
    background-color: #223a5e;
    height: 100%;
}
.timeline{
    /* border: solid white; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row {
    /* border:solid 1px yellow; */
    padding: 5px 5px 5px 5px;
    margin: 15px 5px 15px 15px;
    width: 350px;
    height: 100%;
  }
table{
    /* border: solid 1px red; */
    /* border-collapse: collapse; */
    border-spacing: 0 20px;    
}
td {
    /* border: solid 1px blue; */
    padding: 10px;
    vertical-align: baseline;
  }
table .text7{
    background: rgba(41, 171, 226, 0.2);
}
/* end page timeline */





/* id */
#aboutme {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#aboutme p{
    grid-column: 1/span 2;
}



/* hover event*/
.con-container a:hover{
    background-color: #eb274b;
    border-radius: 5px;
    transition: 0.7s;
}

.navbar:hover{
    background-color: #eb274b;
    border-radius: 5px;
    transition: 0.7s;
}

.ser-container-child:hover{
    box-shadow: -5px 5px 10px 1px rgba(255, 255, 255, 0.479);
    transition: 0.4s;
    transform: translate(5px, 5px);
}
footer p.text1:hover{
    color: #eb274b;
}

@media screen and (max-width: 600px){

}


/* <a href="mailto:info@eniun.com">Enviar correo a Eniun</a> */